.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: start;
  min-height: 7rem;
  background: #333333;
  width: 100%;
  color: #e0e0e0;
  align-items: center;
}

.navLink {
  text-decoration: none;
  color: #e0e0e0;
  margin-right: 1.25rem;
}

.navDiv {
  width: 100%;
  min-height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin: 0 1.25rem;
}
